.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
  }
  
  .title {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .flag {
    width: 50%;
    height: auto;
  }
  
  .detail {
    font-size: 1.2em;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .loading {
    font-size: 2em;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  