.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
    background-image: url('../../assets/61755.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .title {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .flag {
    width: 50%;
    height: auto;
  }
  
  .detail {
    font-size: 1.2em;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  .loading {
    font-size: 2em;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .button {
    padding: 0.5em 1em;
    font-size: 1em;
    color: #ffffff;
    background-color:transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 20px rgba(246, 243, 243, 0.25)
  }
  
  .button:hover {
    background-color: transparent;
    box-shadow: 0 0 100px rgba(246, 243, 243, 0.25);
  }
  
  .button:focus {
    outline: none;
  }
  
  