.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.backgroundImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.topControls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
  color: #fff;
}

.content {
  position: absolute;
  top: 50px; /* Ajusta esto según el tamaño de tus controles superiores */
  left: 0;
  width: 100%;
  height: calc(100% - 50px); /* Ajusta esto según el tamaño de tus controles superiores */
  overflow: auto;
  box-sizing: border-box;
}




