.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 2em; /* Reducir el tamaño de fuente */
}

.pageItem {
  padding: 0.3em 0.5em; /* Reducir el tamaño del padding */
  font-size: 0.8em; /* Reducir el tamaño de fuente */
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 100px rgba(350, 350, 350, 0.75);
}

.pageItem:hover {
  box-shadow:0 0 100px rgba(350, 350, 350, 0.75);
}

.pageItem:focus {
  outline: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.active {
  background-color: #ffffff;
  color: #000000;
}

