.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Agrega un margen superior para evitar la superposición */
}

.pageItem {
  margin: 0 10px;
  cursor: pointer;
}

.active {
  font-weight: bold;
}

.disabled {
  color:transparent;
  cursor: not-allowed;
}
