/* body {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/61755.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .form:hover {
    background-color: rgba(1, 144, 75, 0.9);
  }
  
  .input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  
  .select {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #3f3f3f;
  } */

  .form {
    position: relative;
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    background: rgba(20, 233, 169, 0.219);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    color: #fff;
  }
  
  .input,
  .select {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;

  }
  
  
  .button {
    padding: 0.5em 1em;
    font-size: 1em;
    color: #ffffff;
    background-color:transparent;
    border: 0.5px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 20px rgba(246, 243, 243, 0.25)
  }
  
  .button:hover {
    background-color: transparent;
  box-shadow: 0 0 200px rgba(246, 243, 243, 0.25);
  }
  
  .error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  body {
    background: url('../../assets/61755.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  
  
  label {
    color: #020202; 
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }  
  
  