.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.backgroundImage {
  background-image: url('../../assets/61766.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.backgroundImage h1 {
  font-size: 2rem;
  margin-top: 20px;
}

.backgroundImage button {
  padding: 1em 1.5em; /* Ajusta el tamaño del padding */
  font-size: 1.5em; /* Ajusta el tamaño de fuente */
  margin-top: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 50px rgba(300, 300, 300, 0.50);
}

.backgroundImage button:hover {
  box-shadow: 0 0 100px rgba(350, 350, 350, 0.75);
}

.backgroundImage button:focus {
  outline: none;
}



